/*
  基础全局样式共享 - 导出使用的类
*/
$blue : blue;
.body_div {
  background: $blue;
}
.helloWorld {
  h1 {
    text-shadow: 2px 4px #ccc;
  }
  button {
    outline: none;
    padding: 5px 20px;
    background: #8bc34a;
    border-radius: 5px;
    border: 2px solid #a5a4a4;
    cursor: pointer;
  }
}
